# Network interface
iface_name: 'enp2s0'
iface_ip: '192.168.1.10'
iface_gateway: '192.168.1.1'
# (Optional) iface_mask: '255.255.255.0'

# Home Assistant Configuration path
ha_config_path: '/opt/homeassistant/config'
ha_compose_dir: '/opt/homeassistant'

# Devices
usb_devices: []
use_bluetooth: false

# Remote Access. Options: cloudflare, tailscale, wireguard. Can be multiple or none
vpn_providers: ['cloudflare', 'tailscale', 'wireguard']

# Cloudflare Setting
cloudflare_token: "YOUR_TOKEN_FROM_CLOUDFLARE"

# Tailscale Setting
tailscale_auth_key: "tskey-auth-key"

# Wireguard Setting
duckdns_subdomains: 'CHANGEME.duckdns.org'
duckdns_token: 'YOUR_TOKEN_FROM_DUCKDNS'

wireguard_server_url: 'CHANGEME.duckdns.org'
wireguard_server_port: 51820
wireguard_peers: ['iphone', 'laptop', 'tablet'] # as many peers as you have
