- name: Create Cloudflare config directory
  file:
    path: /opt/cloudflare
    state: directory
    mode: '0755'

- name: Deploy Cloudflare docker-compose
  template:
    src: cloudflare-compose.yaml.j2
    dest: /opt/cloudflare/docker-compose.yaml
  notify: Restart Cloudflare

- name: Bring up Cloudflare
  community.docker.docker_compose_v2:
    project_src: /opt/cloudflare
    state: present

- name: Compute HA trusted network
  set_fact:
    ha_trusted_network: "{{ iface_ip | regex_replace('\\d+$','0') }}/24"

- name: Add http block to HA config for reverse proxy
  blockinfile:
    path: /opt/homeassistant/config/configuration.yaml
    marker: "# {mark} ANSIBLE HTTP BLOCK"
    block: |
      http:
        use_x_forwarded_for: true
        trusted_proxies:
          - 127.0.0.1
          - ::1
          - {{ ha_trusted_network }}

- name: Restart Home Assistant container if http block changed
  docker_container:
    name: homeassistant
    state: started
    restart: yes