- name: Validate vpn_providers
  fail:
    msg: "Invalid vpn provider found. Valid options: cloudflare, wireguard, tailscale."
  when: vpn_providers | difference(['cloudflare', 'tailscale', 'wireguard']) | length > 0

- name: Include VPN providers
  include_tasks: "{{ item }}.yaml"
  loop: "{{ vpn_providers }}"
  when: vpn_providers | length > 0