- name: Run Tailscale container
  community.docker.docker_container:
    name: tailscale
    image: tailscale/tailscale:latest
    state: started
    restart_policy: always
    network_mode: host
    capabilities:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    env:
      TS_AUTHKEY: "{{ tailscale_auth_key }}"
      TS_STATE_DIR: "/var/lib/tailscale"
      TS_USERSPACE: "false"
    volumes:
      - /var/lib/tailscale:/var/lib/tailscale
